{
    "sourceRoot": "./src",
    "presets": [
        "stage-0"        
    ],
    "plugins": [
        "transform-async-to-generator"
    ],
    "minified": true,
    "compact": true,
    "sourceMaps": true
}
